attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
google==3.0.0
html5lib==1.1
idna==2.10
importlib-metadata==2.0.0
iniconfig==1.1.1
lxml==4.6.1
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
requests==2.25.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
toml==0.10.2
urllib3==1.26.2
webdriver-manager==3.2.2
webencodings==0.5.1
zipp==3.4.0
